body
{
	font-family: sans-serif;
	font-size: smaller;
    height: auto;
	padding: 20px;
}
li{  
	color: #FFF;
	cursor: pointer;
	padding: 3px 5px 0px 5px;
}

li:hover{   
	height: 20px;
	background:url("rrr.png") repeat-x scroll 0 0 transparent;
}

.nama{
	height: 100px;
	background: url("back.jpg");
	background-size: cover;

}
.menu{   
height: 23px;
background: url("sss.png") repeat-x scroll 0 0 transparent;
border-right: 1px solid #70777D;
border-style: solid;
border-width: 1px;
} 

.menu li{ 
	float: left;
	position: :relative;
	list-style: none outside none;
	margin: 0 7px 0 0px;
	color: black;
}
